<ion-view view-title="Documents to Sign">
  <ion-content>
    <div ng-show="!chats.length">
      <img class="center" ng-src="../img/warning.png">
      <h4 class="center">No Documents To Be Signed</h4>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/docs/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>