<ion-view view-title="Signature Samples">
  <ion-content>
    <div>
      <div >
        <canvas class="canvas" id="sigCanvas" name="sigCanvas" ></canvas>
      </div>
      <div ng-show="warningText != undefined">
        <h4 class="ion-information-circled" ng-style="{color:'red'}">{{warningText}}</h4>
      </div>
            <br>
      
    <div class="button-bar">
      <a class="button button-energized" ng-click="clearCanvas()">Clear Signature</a>
      <a class="button button-balanced" ng-click="sendSamples()">{{saveButton}}</a>
    </div>
        <div class="p-sig-text">
          <h4>Provided Signatures {{pag_i}} / {{pag_t}}</h4>
        </div>
    </div>
  </ion-content>
</ion-view>
