<ion-view view-title="Login Form">
  <ion-content>
    <form ng-submit="login()" name="theloginForm" novalidate>
      <div class="list padding">
        <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
                    <span class="ion-information-circled" ng-show="theloginForm.email.$error.required && theloginForm.email.$dirty" ng-style="{color:'red'}">Email is Required</span>
                    <span class="ion-information-circled" ng-show="!theloginForm.email.$error.required && theloginForm.email.$error.email && theloginForm.email.$dirty" ng-style="{color:'red'}">Email is invalid</span>
                </label>
        <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" name="password" ng-model="user.password" required>
                    <span class="ion-information-circled" ng-show="theloginForm.password.$error.required && theloginForm.password.$dirty" ng-style="{color:'red'}">Password is required</span>
                    
                </label>
        <label class="item">
                    <button class="button button-block button-positive" type="submit" ng-disabled="!theloginForm.$valid"><i class="icon ion-log-in"></i>&nbsp; Log in</button>
                </label>
        <label class="item">
                    <button class="button button-block button-assertive" type="button" ng-click="goregister()"> <i class="icon ion-ios-personadd-outline"></i>&nbsp; Register</button>
                </label>
      </div>
    </form>
  </ion-content>
</ion-view>
